@import './../index.scss';

#header-flex {
  display: flex;
  //position: relative;
  height: 64px;
  padding: 0;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.start {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.middle {
  display: flex;
  flex: 2;
  max-width: 800px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.end {
  display: flex;
  flex: 1;
  text-align: end;
  align-items: center;
  justify-content: flex-end;
}

.rotateA {
  transition: 1.5s ease-in-out;
}

.rotateB {
  transition: 1.5s ease-in-out;
  transform: rotate(120deg);
}

.ant-breadcrumb {
  padding-bottom: 20px !important;
}

.avatarHeader {
  display: flex;
  margin: 14px;
  width: 48px;
  height: 48px;
  background-color: rgb(124, 37, 52);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  * {
    margin: 0 auto;
    font-size: x-large;
  }
}
