.postContainer {
  border-radius: 10px;
  // height: 100%;
  border: solid 2px #555;
  margin: 0px !important;
  min-height: 160px;
  // width: 100%;
}

.postHeader {
  background-color: rgb(13, 47, 99);
  padding: 6px;
}

.postContent {
  padding: 6px;
}

.title {
  border-radius: 10px;
  padding: 6px;
}
