.postContainer {
  border-radius: 10px;
  // height: 100%;
  border: solid 2px lightgray;
  margin: 0px !important;
  min-height: 200px;
}

.postHeader {
  background-color: lightsteelblue;
  padding: 6px;
}

.postContent {
}
